@charset "utf-8";
/* css document */
* {
  margin:0;
  padding:0;
  font-size:100%;
  font-weight:normal;
}

html {
  background-color:black;
}

header {
  display:flex;
  justify-content:space-between;
  padding:0 20px;
  position:sticky;
  top:0;
  background-color:black;
}

header nav ul {
  display:flex;
  justify-content:space-between;
  list-style-type:none;
  font-family: 'bebas neue';
}

header nav a {
  text-decoration:none;
  display:block;
  padding:25px 20px;
  color:#f8f9fa;
  font-size:16px;
}

header nav a:hover {
  color:#fed136;
}

h1 {
  color:#fed136;
  text-transform:uppercase;
  font-size:20px;
  margin-top:20px;
  font-family: 'bebas neue';
}

p{
  font-family: 'inter';
  font-size: 14px;
}

.titlesection h2{
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
  padding-top: 60px;
}

.titlesection p{
  text-align: center;
  padding-bottom: 50px;
  font-weight: lighter;
  font-style: italic;
  font-size: 14px;
}

body {
  max-width: 100%;
  background-color: white;
}

h2{  
  text-align: center;
  padding: 5px;
}

h3{
font-weight: bolder;
padding-top: 10px;
}

footer{
display:flex;
flex-wrap: wrap;
background-color: white;
height: 100%;
width: 100%;
justify-content:space-around;
align-items:center;
border-top-width: thin;
border-top-style: ridge;
border-top-color: grey;
}

footer p{
  font-size: 10px;
}
.footeryellowtext{
  color:#fed136 ;
}

button{
  background-color: #fed136;
  color:#f8f9fa;
  border: none;
  padding:10px 15px;
  display:flex;
  margin:auto;
  font-size: 14px;
  vertical-align: center;
}


/*START INDEX page styling*/

#indexmain{
  background-image: url(../images/header-bg.jpg);
  height: 575px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#indexheader{
  display:flex;
  justify-content:space-between;
  padding:0 20px;
  position:relative;
  top:0;
  background-color: transparent;
}

#indexservices{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

#indexservices div{
  flex: 1;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 70px;
  align-content: center;
  text-align: center;
}

#welcome{
  font-size: 40px;
  font-style: italic;
  color:#f8f9fa;
  padding: 60px;
}

#meetyou{
  font-size: 70px;
  font-stretch condensed;
  font-style: bold ;
  color: #f8f9fa;
  padding-bottom: 50px;
}/*END INDEX page styling*/



/*START PORTFOLIO page styling*/

#portfolio{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 80px;
  justify-content: space-between;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

#portfolio h3{
font-weight: bolder;
text-align: center;
padding-top: 10px;

}

#portfolio p{
font-weight: lighter;
font-style: italic;
text-align: center;
padding-bottom: 35px;
}/*END PORTFOLIO page styling*/



/*START ABOUT page styling*/

.aboutsections1{
  width:90%;
  margin:0 auto;
  display:flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-left: -40px;
  padding-bottom: 40px;
}

.aboutsections1 div{
  flex: 1;
  max-width: 20%;
  padding: 10px;
  text-align: right;
}

.aboutsections2{
  width:90%;
  margin:0 auto;
  display:flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-right: -60px;
  padding-bottom: 40px;
}

.aboutsections2 div{
  flex: 1;
  max-width: 20%;
  padding: 10px;
  text-align: left;
}

.yellow-circle {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #fed136;
  border-radius: 50%;
  border-color: #D9D9D9;
  border-style: solid;
  border-width: medium;
  align-items: center;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 20px;
}

.yellow-circle h3{
  color: #f8f9fa ;
  text-align: center;
  padding: 12px;
}/*END ABOUT page styling*/


/*START TEAM page styling*/

#team{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 80px;
  justify-content: space-between;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

#teamtext p{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}/*END TEAM page styling*/



/*START CONTACT US page styling*/

#contactus{
  background-image: url(../images/map-image.png);
  height: 575px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #212529;
  color: #f8f9fa;
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
  padding-top: 60px;
}

* {
  box-sizing: border-box;
}

  input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactscolumn {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  font-size: 12px;
}/*END CONTACT US page styling*/